*{
  margin: 0;
  padding: 0;
}
body{
  width: 450px;
  border: none;
}
header{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: dodgerblue;
  color: white;
}

#list{
  background-color: white;
  overflow: scroll;
}
#list .wp-row{
  margin-bottom: 10px;
  border-bottom: 1px gray solid;
}
#list .title{
  width: 100%;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  background: gray;
  color: white;
  cursor: pointer;
}
#list .li-img{
  display: inline-block;
  width: 32%;
  margin: 0.4%;
  box-sizing: border-box;
}
#list .li-img b,
#list .li-img img{
  display: block;
  margin: auto;
  text-align: center;
}
#list .li-img img{
  max-width: 90%;
  cursor: pointer;
}
#list .li-img b{

}

#list .item{
  float: left;
  margin: 5px;
  height: 60px;
  width: 60px;
  background-color: gray;
  text-align: center;
  vertical-align: middle;
}
#list .row{
  height: 100px;
  width: 25%;
  float: left;
}
#list .col-chk,
#list .col-txt,
#list .col-img{
  float: left;
  height: 100px;
  line-height: 100px;
}
#list .col-chk{
  width: 20px;
}
#list .col-txt{
  width: 180px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#list .col-img{
  text-align: center;
  width: 100%;
}
#list .col-img img{
  height: 100px;
}